<nav class="keys" aria-label="Keyboard navigation">
  <div class="keys__group">
    <a href="{{ '/#top' | relative_url }}" data-key="h"><kbd>H</kbd>HOME</a>
    <a href="{{ '/#about' | relative_url }}" data-key="a"><kbd>A</kbd>ABOUT</a>
  </div>
  <div class="keys__group">
    <a href="{{ '/#posts' | relative_url }}" data-key="p"><kbd>P</kbd>POSTS</a>
    <a href="{{ '/#topics' | relative_url }}" data-key="t"><kbd>T</kbd>TOPICS</a>
  </div>
  <div class="keys__group">
    <button type="button" data-key="k" data-page="-1"><kbd>K</kbd>PAGE UP</button>
    <button type="button" data-key="j" data-page="1"><kbd>J</kbd>PAGE DOWN</button>
  </div>
  <div class="keys__group">
    <a href="#contact" data-key="c"><kbd>C</kbd>CONTACT</a>
    <button type="button" data-key="i" data-invert><kbd>I</kbd>INVERT</button>
  </div>
</nav>
